


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
}
.calculator-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: lightblue;
    text-align: center;
}


.calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2em;
    padding: 20px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color:rgb(35, 35, 43);
    color: white;
}

.btn.zero {
    grid-column: span 2;
}